.cartItem {
  margin-bottom: 30px;
}
.cartItem > * {
  margin: 10px 10px 0 0;
  display: inline;
}
.numItem {
  margin: 10px;
  width: 10px;
  display: inline;
}
.setNumItem {
  float: right;
  display: inline;
}
.setNumItem > *{

  display: inline;
}
.deleteItem {
  margin-left: 10px;
  display: inline-block;
}
.preTotal {
  margin-right: 10px;
  text-align: right;
}
.detail {
  margin-right: 10px;
  text-align: right;
}
h6 {
  text-align: center;
}
.paymentMethod {
  width: 100px;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.choice-dropdown {
  position: relative;
  display: inline-block;
}

.choice-dropdown__toggle {
  padding: 10px;
  background-color: lightblue;
  color: white;
  border: none;
  cursor: pointer;
}

.choice-dropdown__list {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.choice-dropdown__list li {
  padding: 10px;
  background-color: white;
  color: black;
  border: 1px solid lightgray;
}

.choice-dropdown__list li:hover {
  background-color: lightgray;
}
.btnSetNumItem {
  place-items: center;
  font-size: 15px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
}
.numItem {
  display: inline-block;
  place-items: center;
  width: 20px;
}
