.form-control:focus {
  box-shadow: none;
  border-color: #ae914c;
}

.profile-button {
  background: #ae914c;
  box-shadow: none;
  border: none;
}

.profile-button:hover {
  background: #ae914c;
}

.profile-button:focus {
  background: #ae914c;
  box-shadow: none;
}

.profile-button:active {
  background: #ae914c;
  box-shadow: none;
}

.back:hover {
  color: #ae914c;
  cursor: pointer;
}

.labels {
  font-size: 15px;
  height: 15px;
  padding: 15px;
}

.title {
  text-align: center;
}

.field {
  margin: 15px 0px;
}

input {
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: 1px solid #aaa;
}

.form-btn {
  width: 40%;
  background-color: #ececeb;
  outline: none;
  height: 20px;
  margin: 0px 30%;
}
.close-btn {
  cursor: pointer;
  border: 2px;
}

.imgrank {
  width: 250px;
  height: 250px;
}
.gender > *{
    display: inline;
}
.editField{
    text-align: left;
}