#welcome {
  position: absolute;
  height: 90vh;
  width: 100vw;
  place-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: myfirst 2s;
}
#welcome-text {
  width: 50%;
  height: 50%;
  text-align: center;
  font-family: "Brush Script MT";
  text-transform: uppercase;
font-weight: 700;
}

@keyframes myfirst {
  0% {
    top: -30vh;
  }
  100% {
    top: 7vh;
  }
}
