.userava {
    border-radius: 50%;
}

.container {
    margin-top: 50px;
    display: grid;
    place-items: center;
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
}

.option {
    text-align: center;
}

.thongkeelement {
    margin: 40px;
    width: 500px;
    height: 100px;
    font-size: 40px;
    border-color: transparent;
    background-color: rgb(210, 216, 202, 70);
    color: red;
}